.card__description {
    max-width: 241px;
    width: 100%;
    margin: 22px 15px 0px 21px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}