.popup__button-close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-popup-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -40px;
    top: -40px;
}

@media screen and (max-width: 510px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}

.popup__button-close:hover {
    opacity: 0.6;
}
