.card__like {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../images/card-like.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}